<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>HALOGEN MAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    	
                
body{margin-top:20px;}              
.modal-footer {   border-top: 0px; }
    </style>
</head>
<body>
<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" style="position: relative;">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
         
          <h1 class="text-center">CREATE</h1>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block" method="POST" action="create">
            {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username"class="form-control input-lg" placeholder="USERNAME">
                </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control input-lg" placeholder="EMAIL">
            </div>
            <div class="form-group">
                <input type="text" name="firstname" class="form-control input-lg" placeholder="COLLEGE NAME">
            </div>
            <div class="form-group">
              <input type="password" name="password1" class="form-control input-lg" placeholder="PASSWORD">
            </div>
            <div class="form-group">
                <input type="password" name="password2" class="form-control input-lg" placeholder="CONFORM PASSWORD">
            </div>
            <div class="form-group">
              <input  type="submit" class="btn btn-primary btn-lg btn-block" value="CREATE"/>
              
            </div>
            
          </form>
      </div>
      <div class="modal-footer">
          
      </div>
  </div>
  </div>
</div>

<div style="text-align:center; ">
  {% for mess in messages %}
    <p style="color:red;">{{mess}}</p> 
  {% endfor %}
</div>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
<div style="position:fixed;bottom:0px;">
    <p>This project is made by HALOGEN-MAN and team </p>
</div>

</body>
</html>